body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1143px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    position: relative;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 15px;
}
.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 93px;
}
.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    width: 97px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-btn {
    display: none;
    background-image: url(../images/header-button.svg);
    width: 29px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.header-nav {
    list-style-type: none;
    display: flex;
    gap: 54px;
    padding-left: 0;
}
.header-nav a {
    font-size: 18px;
    color: #2B3541;
    text-decoration: none;
    position: relative;
}
.header-nav a::after {
    content: '';
    width: 100%;
    height: 1px;
    background: transparent;
    display: block;
    position: absolute;
    bottom: -10px;
    transition: 0.3s;

}
.header-nav a:hover::after {
    background: #2B3541;
}
.social {
    display: flex;
    gap: 30px;
}
.header-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: 0.3s;
    transform: scale(1);
    opacity: 0.8;
}
.header-button:hover {
    transform: scale(1.2);
    opacity: 1;
}
.banner-info {
    margin-top: 189px;
    width: 674px;
    margin-bottom: 160px;
}
.banner-title {
    margin-bottom: 45px;
    font-size: 48px;
    font-weight: 700;
    color: #2B3541;
    line-height: 1.25;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.banner-info-up {
    font-size: 40px;
    color: #2B3541;
    margin-bottom: 24px;
    letter-spacing: 0.03em;
}
.banner-info-down {
    margin-left: 92px;
    margin-right: 140px;
    margin-bottom: 183px;
}
.banner-text {
    font-size: 18px;
    color: #2B3541;
    line-height: 1.5;
    margin-bottom: 33px;
}
.banner-link {
    background-color: #FBF138;
    font-size: 16px;
    font-weight: 700;
    color: #2B3541;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 23px 30px;
    display: inline-block;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    transition: 0.3s;
}
.banner-link:hover {
    background: #2B3541;
    color: #FBF138;
    box-shadow: 0px 13px 24px rgba(43, 53, 65, 0.2);
}
.banner-arrow {
    display: block;
    background-image: url(../images/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 52px;
    height: 55px;
    cursor: pointer;
    transition: .3s;
}
.banner-bg {
    display: flex;
    gap: 20px;
    position: absolute;
    top: -190px;
    z-index: -1;
    right: -33px;
}
.banner-bg-left {
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
    opacity: .2;
    width: 35.93vw;
    height: 56.56vw;
}
.banner-bg-right {
    background: linear-gradient(90deg, #FDF9B6 0%, rgba(253, 249, 182, 0.7) 166.81%);
    opacity: .2;
    width: 15.93vw;
    height: 56.56vw;
}
.banner-bg-img {
    position: absolute;
    width: 66.56vw;
    height: 53.80vw;
    top: 41px;
    right: -103px;
}
.events-title {
    font-size: 40px;
    font-weight: 700;
    color: #2B3541;
    margin-bottom: 43px;
}
.events-flex {
    display: flex;
    gap: 20.02px;
    cursor: pointer;
    margin-bottom: 118px;
}
.events-dates {
    font-size: 18px;
    font-weight: 700;
    color: #2B3541;
    opacity: .6;
    margin: 34px;
}
.events-title-card {
    font-size: 28px;
    font-weight: 700;
    color: #2B3541;
    line-height: 35px;
    margin: -10px 30px;
}
.events-link {
    background: #2B3541;
    padding: 20px 37px;
    font-size: 16px;
    font-weight: 700;
    color: #FBF138;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin: 30px;
    display: inline-block;
    opacity: 0;
    transition: 0.3s;
}
.events-text {
    background-color: #FBF138;
    padding: 14px 18px;
    font-size: 18px;
    color: #2B3541;
    text-align: center;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    transition: 0.3s;
    letter-spacing: 0.03em;
    min-width: 87px;
}
.plus-bg {
    background: #2B3541;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}
.plus {
    position: absolute;
    bottom: 8px;
    right: 8px;
}
.events-card {
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.left {
    background-image: url(../images/events-1.png);
}
.center {
    background-image: url(../images/events-2.png);
}
.right {
    background-image: url(../images/events-3.png);
}
.events-gradient {
    background: linear-gradient(180deg, rgba(251, 241, 56, 0.3) 0%, rgba(253, 249, 182, 0) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
}
.events-gradient:hover {
    background: linear-gradient(180deg, rgba(251, 241, 56, 0.6) 0%, rgba(253, 249, 182, 0) 100%);
}
.events-gradient:hover .events-link {
    opacity: 1;
}
.events-gradient:hover .events-text {
    opacity: 0;
}
.schedule-title {
    display: flex;
    gap: 40.92vw;
    margin-bottom: -2px;
}
.schedule-title h3 {
    font-size: 40px;
    font-weight: 700;
    color: #2B3541;
    line-height: 125%;
}
.schedule-title p {
    font-size: 28px;
    font-weight: 700;
    color: #2B3541;
    margin-top: 54px;
}
.schedule-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 60px 90px 280px;
    gap: 20px;
    margin-bottom: 124px;
}
.grid-item {
    border: 1px solid rgba(43, 53, 65, 0.4);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-left: 2.31vw;
    padding-right: 24px;
    justify-content: space-between
}
.active {
    background: linear-gradient(180deg, rgba(251, 241, 56, .7) 0%, rgba(253, 249, 182, 0.45) 100%);
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
    border: none;
}
.grid-item-date {
    font-size: 18px;
    color: #010101;
    opacity: .7;
    display: flex;
    justify-content: flex-end;
}
.grid-item-title {
    font-size: 18px;
    font-weight: 700;
    color: #2B3541;
    margin-top: 40px;
    margin-bottom: 23px;
}
.grid-item-text {
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
}
.grid-item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.grid-item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}
.grid-item:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}
.grid-item:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}
.grid-item:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.grid-item:nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
}
.subscribe {
    background: #F3F3F3;
}
.subscribe-box {
    padding-left: 263px;
    padding-right: 263px;
}
.subscribe-title {
    font-size: 40px;
    font-weight: 700;
    color: #2B3541;
    text-align: center;
    margin: 0;
    padding: 80px 13px 0;
    position: relative;
    z-index: 1;
}
.subscribe-title::before {
    content: '';
    background: #FBF138;
    width: 53px;
    height: 53px;
    border-radius: 34px;
    position: absolute;
    left: -17px;
    top: 58px;
    z-index: -1;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);  
}
.subscribe-flex {
    display: flex;
    gap: 20px;
    width: 618px;
    margin: 40px auto 12px;
} 
.subscribe-email {
    display: block;
    width: 70%;
    background: #fff;
    border: 1px solid #fff;
    padding: 19px 240px 19px 19px;
    font-size: 18px;
    color: #2B3541;
}
.subscribe-email::placeholder {
    opacity: .3;
}
.subscribe-email:focus{
    border: 1px solid #FBF138;
    outline: 0;
}
.subscribe-email:invalid {
    border: 1px solid #AE0303;
    outline: 0;
}
.subscribe-button {
    background: #FBF138;
    padding: 24px 45px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.04em;
    color: #2B3541;
    border: none;
}
.subscribe-button:hover {
    background: #2B3541;
    color: #FBF138;
    box-shadow: 0px 13px 24px rgba(43, 53, 65, 0.2);
    cursor: pointer;
    transition: 0.3s;
}
.agreement {
    padding-bottom: 80px;
}
.label {
    font-size: 11px;
    color: rgba(43, 53, 65, .5);
}
.label a {
    font-size: 11px;
    color: rgba(43, 53, 65, .5);
    text-underline-offset: 2px;
}
.label a:hover {
    color: rgba(43, 53, 65, 1);
}
.checkbox:checked,
.checkbox:not(:checked){
   position: absolute;
   left:-9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
   position: relative;
   padding-left: 35px;
   cursor:pointer;
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт активен */
.checkbox:checked + label::before{
   content:'';
   position: absolute;
   width: 16px;
   height: 16px;
   left:0;
   top:calc(50% - 10px);
   background-color: #2B3541;
   border: 2px solid #2B3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт активен */
.checkbox:checked + label::after{
   content:'';
   position: absolute;
   width: 16px;
   height: 12px;
   transition: all .2s ease;
   opacity: 1;
   left: 3px;
   top: calc(50% - 6px);
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url(../images/check-arrow.svg);
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт НЕ активен */
.checkbox:not(:checked) + label::before{
   content:'';
   position: absolute;
   width: 16px;
   height: 16px;
   left:0;
   top:calc(50% - 10px);
   background-color: transparent;
   border: 2px solid #2B3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт НЕ активен */
.checkbox:not(:checked) + label::after{
   content:'';
   position: absolute;
   width: 16px;
   height: 12px;
   transition: all .2s ease;
   opacity: 0;
   left: 3px;
   top: calc(50% - 6px);
   background-position: 0 -12px;
   background-color: transparent;
   background-repeat: no-repeat;
   background-size: cover;
   background-image: url(../images/check-arrow.svg);
}
.radio:checked + label::before{
   border-radius: 100%;
}
.about-up {
    display: flex;
    gap: 77px;
    margin-bottom: 50px;
    margin-top: 95px;
}
.about-up-title {
    font-size: 40px;
    font-weight: 700;
    color: #2B3541;
    margin-top: 5px;
    margin-bottom: 22px;
}
.about-up-text {
    font-size: 18px;
    color: #2B3541;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 34px;
}
.about-up-link {
    display: inline-block;
    background-color: #FBF138;
    padding: 23px 52px;
    font-size: 16px;
    font-weight: 700;
    color: #2B3541;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.about-up-link:hover {
    background: #2B3541;
    color: #FBF138;
    box-shadow: 0px 13px 24px rgba(43, 53, 65, 0.2);
    transition: 0.3s;
}
.about-up-img {
    width: 581px;
    height: 335px;
    margin-top: 3px;
}
.about-down {
    display: flex;
    gap: 29px;
}
.about-down-title {
    font-size: 18px;
    font-weight: 700;
    color: #2B3541;
    margin-bottom: 23px;
}
.about-down-text {
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
    opacity: .6;
}
footer {
    background: #F3F3F3;
}
.footer {
    margin-top: 152px;
}
.footer-up {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 37px 0 8px;
}
.footer-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 78px;
}
.footer-logo {
    background-image: url(../images/logo.svg);
    width: 97px;
    height: 30px;
    background-repeat: no-repeat;
}
.footer-nav {
    list-style-type: none;
    display: flex;
    gap: 90px;
    padding-left: 0;
}
.footer-nav a {
    font-size: 14px;
    color: #2B3541;
    text-decoration: none;
    position: relative;
}
.footer-nav a::after {
    content: '';
    width: 100%;
    height: 0.5px;
    background: transparent;
    display: block;
    position: absolute;
    bottom: -10px;
    transition: 0.3s;
}
.footer-nav a:hover::after {
    background: #2B3541;
}
.footer-button {
    display: flex;
    gap: 4.21vw;
}
.footer-social {
    display: flex;
    align-items: center;
    gap: 62px;
}
.mail {
    font-size: 16px;
    font-weight: 700;
    color: #2B3541;
    text-decoration: none;
    position: relative;
    z-index: 1;
}
.mail::before {
    content: '';
    background: #FBF138;;
    width: 25px;
    height: 25px;
    border-radius: 12px;
    position: absolute;
    left: -16px;
    top: -14px;
    z-index: -1;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
}
.footer-down {
    display: flex;
    justify-content: space-between;
    padding-bottom: 21px;
    font-size: 14px;
    color: rgba(43, 53, 65, .3);
}
.footer-link {
    color: rgba(43, 53, 65, .3);
}
.footer-link:hover {
    color: rgba(43, 53, 65, 1);
}

/* Modal */

.modal {
    background: #F3F3F3;
    position: absolute;
    transition: .5s;
    top: -400px;
    width: 100%;
}
.modal-item{
    padding-top: 30px;
}
.header-close {
    background: url(../images/close.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}
.header-nav-modal {
    padding-left: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}
.header-nav-modal a {
    font-size: 18px;
    color: #2B3541;
    text-decoration: none;
}
hr {
    width: 100%;
    opacity: 0.2;
    border: 0.5px solid #2B3541;
    margin-top: 20px;
    margin-bottom: 20px;
}
.modal-social {
    margin-bottom: 16px;
    justify-content: flex-end;
}

/* Responsive */

@media (max-width:1440px) {
    .banner-info-down {
        margin-bottom: 100px;
    }
    .banner-bg {
        right: 130px;
        top: -155px;
    }
    .banner-bg-img {
        height: 53.2vw;
    }
}
@media (max-width:1112px) {
    .banner-bg-img {
        height: 52.8vw;
    }
    .subscribe-box {
        padding-right: 184px;
    }
}
@media (max-width:1024px) {
    .banner-info {
        margin-top: 144px;
    }
    .banner-title {
        margin-bottom: 20px;
        font-size: 39px;
    }
    .banner-info-up {
        font-size: 34px;
        margin-bottom: 18px;
    }
    .banner-text {
        margin-bottom: 22px;
    }
    .grid-item {
        padding-left: 0.31vw;
    }
    .grid-item-info {
        margin-left: 20px;
    }
    .subscribe-box {
        padding-left: 198px;
        padding-right: 164px;
    }
    .subscribe-title::before {
        left: 93px;
    }
    .footer-mail {
        right: 121px;
    }
    .footer-nav {
        gap: 60px;
    }
}
@media (max-width: 992px) {
    .subscribe-box {
        padding-left: 198px;
        padding-right: 130px;
    }
    .subscribe-title {
        padding: 80px 50px 50px;
    }
}
@media (max-width:835px) {
    .header {
        padding-bottom: 33px;
    }
    .header-item {
        gap: 57px;
    }
    .header-btn {
        display: block;
    }
    .header-nav {
        display: none;
    }
    .banner-flex {
        display: flex;
    }
    .banner-info {
        margin-top: 59px;
        margin-bottom: 85px;
        max-width: 359px;
    }
    .banner-title {
        margin-bottom: 40px;
        font-size: 26px;
    }
    .banner-info-up {
        font-size: 26px;
        margin-bottom: 16px;
    }
    .banner-info-down {
        margin: 0;
    }
    .banner-text {
        margin-bottom: 42px;
    }
    .banner-arrow {
        margin: 70px 0;
    }
    .banner-bg {
        right: 15px;
        gap: 13px;
        top: -4px;
    }
    .banner-bg-left {
        width: 27.29vw;
        height: 62.23vw;
    }
    .banner-bg-right {
        width: 20.16vw;
        height: 62.23vw;
    }
    .banner-bg-img {
        right: 0px;
        width: 54.07vw;
        height: 47.43vw;
        top: 123px;
    }
    .events-title {
        font-size: 26px;
        margin-bottom: 21px;
    }
    .events-flex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'a b' 'c c';
        gap: 11px;
        margin-bottom: 75px;
    }
    .events-card:nth-child(1) {
        grid-area: a;
        background-image: url(../images/events-1\(flex\).png);
        height: 37.01vw;
    }
    .events-card:nth-child(2) {
        grid-area: b;
        background-image: url(../images/events-2\(flex\).png);
        height: 37.01vw;
    }
    .events-card:nth-child(3) {
        grid-area: c;
        background-image: url(../images/events-3\(flex\).png);
        height: 40.24vw;
    }
    .events-dates {
        font-size: 12px;
        margin: 25px;
    }
    .events-title-card {
        font-size: 16px;
        line-height: 19.2px;
        margin: -16px 221px 0 24px;
    }
    .right .events-title-card {
        margin-right: 552px;
    }
    .events-text {
        padding: 9px 15px;
        font-size: 12px;
        left: 0;
        right: 267px;
    }
    .right .events-text {
        right: 670px;
    }
    .events-link {
        padding: 17px 28px;
        font-size: 14px;
        margin: 24px;
    }
    .plus-bg {
        display: block;
    }
    .schedule-title h3 {
        font-size: 26px;
    }
    .schedule-title p {
        font-size: 16px;
    }
    .schedule-grid {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: 333px 224px 224px;
    }
    .grid-item:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .grid-item:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .grid-item:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .grid-item:nth-child(4) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .grid-item:nth-child(5) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .grid-item:nth-child(6) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    .grid-item-date {
        font-size: 16px;
    }
    .active .grid-item-title {
        margin-top: 17px;
        margin-bottom: 17px;
    }
    .subscribe-box {
        padding-left: 159px;
        padding-right: 130px;
    }
    .subscribe-title::before {
        left: 33px;
    }
    .subscribe-flex {
        margin: -35px auto;
        width: auto;
    }
    .subscribe-button {
        position: absolute;
        bottom: 40px;
        left: 169px;
        width: 60%;
    }
    .subscribe-email {
        width: 62%;
        margin: 40px auto;
    }
    .agreement {
        padding-bottom: 148px;
    }
    .about-up-title {
        font-size: 26px;
        margin-bottom: 12px;
    }
    .about-up-text {
        font-size: 16px;
    }
    .about-up-img {
        width: 44.67vw;
        height: 27.19vw;
        margin-top: 0px;
    }
    .about-down {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 43px;
    }
    .about-down-box {
        width: 79%;
    }
    .footer-up {
        flex-direction: column;
        gap: 54px;
    }
    .footer-social {
        justify-content: flex-end;
    }
    .footer-mail {
        top: 146px;
        right: 137px;
    }
}
@media (max-width:812px) {
.subscribe-title::before {
    left: 23px;
    }
}
@media (max-width:800px) {
    .subscribe-title::before {
        left: 47px;
    }
}
@media (max-width:768px) {
    .banner-info {
        margin-top: 5px;
    }
    .banner-arrow {
        margin: 45px 0px;
        width: 44px;
        height: 42px;
    }
    .banner-bg-left {
        width: 25.29vw;
        height: 55.8vw;
    }
    .banner-bg-right {
        width: 18.16vw;
        height: 55.8vw;
    }
    .banner-bg-img {
        width: 49.07vw;
        height: 44.13vw;
        top: 90px;
    }
    .banner-info {
        margin-bottom: -3px;
    }
    .subscribe-title {
        font-size: 26px;
    }
    .subscribe-title::before {
        width: 34px;
        height: 34px;
        left: 75px;
        top: 68px;
    }
    .subscribe-email {
        margin: 43px auto;
        padding: 19px 212px 19px 25px;
    }
    .subscribe-button {
        left: 176px;
        width: 57%;
    }
    .about-up {
        gap: 68px;
        margin-bottom: 29px;
    }
    .about-up-text {
        line-height: 24px;
    }
    .about-down {
        gap: 0px;
    }
    .about-down-title {
        font-size: 16px;
        margin-bottom: 18px;
    }
    .footer {
        margin-top: 63px;
    }
    .footer-up {
        gap: 26px;
    }
    .footer-mail {
        top: 120px;
    }
}
@media (max-width:736px) {
    .subscribe-title::before {
        left: 59px;
    }
}
@media (max-width:667px) {
    .grid-item-info {
        margin-left: 16px;
    }
    .subscribe-title {
        padding: 59px 50px 51px;
    }
    .subscribe-title::before {
        left: 46px;
        top: 46px;
    }
    .subscribe-email {
        margin: 43px auto;
        padding: 19px 180px 19px 25px;
    }
    .subscribe-button {
        left: 176px;
        width: 50%;
    }
}
@media (max-width:601px) {
    .banner-arrow {
        display: none;
    }
    .events-title {
        margin-top: 89px;
    }
    .subscribe-box {
        padding-left: 118px;
        padding-right: 81px;
    }
    .subscribe-title::before {
        left: 37px;
    }
    .subscribe-button {
        left: 134px;
        width: 60%;
    }
    .footer-nav {
        gap: 45px;
    }
    .footer-social {
        margin-left: 79.93vw;
    }
    .footer-down {
        font-size: 12px;
    }
}
@media (max-width:568px) {
    .banner-flex {
        display: block;
    }
    .banner-info {
        margin: 0 auto;
        max-width: 92.55vw;
    }
    .banner-title {
        font-size: 39px;
    }
    .banner-text {
        max-width: 283px;
    }
    .banner-link {
        padding: 25px 166px;
    }
    .banner-bg {
        position: relative;
        right: 0;
        gap: 10px;
        top: 40px;
    }
    .banner-bg-left {
        width: 60.12vw;
        height: 77.58vw;
    }
    .banner-bg-right {
        width: 29.6vw;
        height: 77.58vw;
    }
    .banner-bg-img {
        width: 91.86vw;
        height: 69.83vw;
        top: 43px;
    }
    .events-card {
        background-position: right;
    }
    .events-title {
        margin-top: 125px;
    }
    .events-card:nth-child(1) {
        height: 86.11vw;
        background-image: url(../images/events-1.png);
    }
    .events-card:nth-child(2) {
        height: 86.11vw;
        background-image: url(../images/events-2.png);
    }
    .events-card:nth-child(3) {
        height: 45.24vw;
    }
    .subscribe-box {
        padding-left: 0;
        padding-right: 0;
    }
    .subscribe-title {
        padding: 41px 120px;
        font-size: 34px;
    }
    .subscribe-title::before {
        width: 36px;
        height: 36px;
        left: 113px;
        top: 32px;
    }
    .subscribe-button {
        left: 15px;
        width: 94%;
    }
    .about-up {
        display: block;
    }
    .about-up-img {
        display: none;
    }
    .about-up-link {
        display: none;
    }
    .about-down {
        margin-bottom: 40px;
    }
    .mobiles {
        display: block;
    }
    .img-mobiles {
        display: block;
        width: 91.67vw;
        height: 52.19vw;
        margin-top: 61px;
    }
    .footer-item {
        display: block;
    }
    .footer-logo {
        display: block;
        margin: 0 auto;
    }
    .footer-nav {
        gap: 119px;
        margin-top: 33px;
    }
    .footer-social {
        justify-content: space-between;
        margin-left: -0.07vw;
    }
    .mail::before {
        left: -11px;
    }
    .footer-down {
        display: block;
    }
    .footer-down {
        text-align: center;
    }
}
